body {
  margin: 0;
}

.tesla {
  width: 240px;
  margin: 0 auto;
}

#social-section {
  margin-top: 40px;
}

a {
  text-decoration: none;
}

/* Must tell students to do images with css, you'll need...
 * must be a <div> not an <img> element.
 * background-image: url("...");
 * background-position: center;
 * background-size: cover;
 */

.social-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0px 16px;
  background-position: center;
  background-size: cover;
}

.fb {
  background-image: url("../assets/fb_black.png");
}

.fb:hover {
  background-image: url("../assets/fb_blue.png");
}

.ig {
  background-image: url("../assets/ig_black.png");
}

.ig:hover {
  background-image: url("../assets/ig_blue.png");
}

.tw {
  background-image: url("../assets/tw_dark.png");
}

.tw:hover {
  background-image: url("../assets/tw_light.png");
}

.yt {
  width: 44px;
  height: 32px;
  background-image: url("../assets/yt_black.png");
}

.yt:hover {
  background-image: url("../assets/yt_red.png");
}
