@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

body {
  font-family: "Roboto", "Arial";
  background-color: #e8e8e8;
  margin: 0;
}

#body-container {
  width: 720px;
  min-height: 600px;
  margin: 0 auto;
  padding: 60px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.img-moosey {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}

.img-twitch {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}

.img-youtube {
  display: block;
  width: 200px;
  margin-bottom: 20px;
}
